body {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}

.default-layout {
    overflow: hidden;
    margin: auto;
}

.navbar {
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 0 94px;
    padding: 24px;
}

.navbar a {
    float: left;
    color: #284265;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 17px;
}

.navbar-right {
    float: right;
}