*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin: 0;
}

.default-layout {
    overflow: hidden;
    margin: auto;
    box-sizing: border-box;
}

.logo {
    height: 34px;
    width: 175px;
}

.navbar {
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 0 94px;
    padding: 24px;
}

.navbar a {
    float: left;
    color: #284265;
    text-align: center;
    margin: 0 16px 0 0;
    padding: 8px;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-right {
    float: right;
}

.navbar-right .success-text {
    color: #A3CB38;
    margin: 0 16px;
    padding: 1rem;
    display: flex;
    height: 56px;
    align-items: center;

}

.banner {
    width: 100%;
    height: 700px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(40, 66, 101, .25), rgba(40, 66, 101, .25));
    background-image: linear-gradient(0deg, rgba(40, 66, 101, .25), rgba(40, 66, 101, .25)), url("../img/Banner-bg.png");
}

footer {
    background: #284265;
    height: 307px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    height: 700px;
    margin: auto;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    padding: 30px;
    column-gap: 50px;
    display: grid;
    border: 1px solid red;
}

.col-right {
    width: 50%;
    text-align: left;
    border: 1px solid green;
}

.col-left {
    width: 50%;
    text-align: left;
    margin: 48px 0 0;
    padding: 48px;
}

.banner-img {
    width: 665px;
    height: 665px;
    vertical-align: middle;
}

.banner-header {
    color: #ffffff;
    font-weight: 900;
    line-height: 40px;
    font-size: 28px;
    margin: 0 0 24px;
}

.banner-p {
    color: #ffffff;
}