.hero {
    background-image: url("/app/assets/images/hero-bg.png");
    overflow: hidden;
    margin: auto;
    height: 770px;

    &__container {
        display: grid;
        width: 1110px;
        height: 100%;
        margin: auto;
    }
}